/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #F5F5F5
}
.chatbox-container{
  width: 77vw;
  border-left: 2px solid rgba(226,224,224,.66);
  height: 100vh;
  padding-top:5%;
  padding-bottom:11%;
  overflow: auto;
  overflow-x: hidden;
}
.chatbox-footer_content{
  width: 100%;
  display: flex;
  position: relative;
}
.sticker-icon, .emoji-icon{
  margin-top:8px !important;
}
.image-icon{
  margin: 8px 0 0 20px;
  cursor: pointer;
}
.chatbox-footer-icon{
  margin-right: 5px;
  margin-top: 6px;
  cursor: pointer;
}
.chatbox-footer-attachment{
  display: flex;
  position: absolute;  
  right: 28.5%;
}
.chatbox-footer-input{
  box-sizing: border-box;
  cursor: text;
  border-radius: 30px;
  line-height: 1.3;
  background: #f5f4f4;
  width: 72%;
  height: 50%;
  overflow: hidden;
  padding:20px;
  border: none;
}
.chatbox-header{
  display: flex;
  padding: 10px 0 0 0;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top:0;
  height: 7%;
  width: 100%;
  z-index: 2;
  background-color: white;
}
.chatbox-footer{
  display: flex;
  padding:10px 0;
  border-top: 1px solid #ccc;
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 2;
  bottom: 0;
  background-color: white;
}
.user_chat{
  padding: 30px;
  width: 100%;
}

.user_chat-content{
  position: relative;
  align-items: flex-end;
  display: inline-block;
  float: right;
}
.user_chat-text{
  color: #fff;
  background: #069255;
  border-radius: 10px;
  padding: 6px 12px;
  margin: 2px 0 0;
  word-break: break-word;
}

.guest_chat{
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}
.guest_chat-time{
  font-size: 12px;
  color: hsla(0,0%,55.7%,.8);
  text-align: center;
}
.guest_chat-content{
  margin-left: 20px;
  max-width: 100%;
}
.guest_chat-name{
  font-size: 12px;
  margin-top: 5px;
  margin-right: 10px;
  color: #676767;
  display: -webkit-flex;
  display: flex;
}
.guest_chat-text{
  background: #f3f2f8;
  color: #000;
  border-radius: 10px;
  padding: 6px 12px;
  margin: 2px 0 0;
  word-break: break-word;
  width: 100%;

}
.ellipsis{
  font-size: 30px !important;
  margin-right: 25%;
  cursor: pointer;
}
.guest_chat-container{
  display: flex;
}
.guest_chat-content{
  position: relative;
}
.guest_chat-reaction{
  display: flex;
  position: absolute;
  bottom:-20px;
  padding: 0 15px;
  width: 100%;
  justify-content: space-between;
}
.fill-heart{
  display: inline-block;
  background-image: url(https://ghtk.me/images/reactions/reactions_love.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
}
.chatbox-footer-image{
  display: block; /* Icon attachment được hiển thị mặc định */
}

.chatbox-footer-input:focus + .chatbox-footer-image {
  display: none; /* Khi input được focus, icon attachment bị ẩn đi */
}

.sendmessage-button {
  display: none; /* Nút sendmessage-button được ẩn đi mặc định */
}

.chatbox-footer-input:focus + .sendmessage-button {
  display: block; /* Khi input được focus, nút sendmessage-button hiển thị */
}
.notfill-heart{
  display: inline-block;
  background-image: url(https://ghtk.me/images/reactions/quick_reaction.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
  margin-left:2px ;
}
.image_attachment{
  width: 200px;
  height: auto;
  border-radius: 5px;
}
.guest_chat-emoji{
  padding: 5px;
  box-shadow: 0 0 11px -5px rgba(0,0,0,.86);
  cursor: pointer;
  height: 30px;
  margin-right: 5px;
  margin-top: 5px;
  background: #fff;
  position: relative;
  border-radius: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 32px;
}
.chatbox-content.show{
  width: 75%;
}
.menu {
  position: fixed;
  top: 0;
  right: -19vw; /* Đặt menu ẩn bên phải màn hình */
  width: 19vw; /* Đặt độ rộng menu */
  height: 100vh; /* Đặt chiều cao menu bằng chiều cao màn hình */
  background-color: #f0f0f0;
  z-index: 888;
   /* Áp dụng hiệu ứng chuyển động khi xuất hiện/ẩn menu */
}
.chatbox-container.show >.chatbox-header{
  width: 58%;
}
.chatbox-container.show >.chatbox-footer{
  width: 58%;
}
.chatbox-container.show >.chatbox-footer>.chatbox-footer_content>.chatbox-footer-input{
  width: 95%;
}
.chatbox-container.show >.chatbox-footer>.chatbox-footer_content>.chatbox-footer-attachment{
  right: 10%;
}

.chatbox-container.show>.chatbox-header >.ellipsis{
  margin-right: 5%;
}
.menu.show {
  right: 0;
}
.image_attachment{
  margin-bottom: 100px;
}
.chatbox-title{
  margin-left: 20px;
  width: 95%;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.change_member{
    font-size: 12px;
    color: hsla(0,0%,55.7%,.8);
    text-align: center;
    margin: auto;
}
.extract-text__mention{
  color: #069255!important;
  font-weight: 600;
  cursor: pointer;
}
.auth-inner{
  max-width: 500px;
  width: 100%;
  padding-bottom: 3rem!important;
  padding-top: 3rem!important;
  align-items: center;
  justify-content: center;
  display: flex;
}
.deleted-chat{
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  color: #a5a5a5;
  font-weight: 400;
}
.extract-text__mention.user{
  color: #fff!important;
}
.user_chat.attachment{
  height: 300px;
}
.guest_chat-container.deleted-chat{
  border: 0;
  padding:0;
}
.card{
  max-width: 500px;
  width: 100%;
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24,28,33,.012);
  -ms-flex-negative: 1;
  flex-shrink: 1;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(24,28,33,.06);
  border-radius: .25rem;
}

.card-content{
  padding: 3rem!important;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header{
  line-height: 1.54;
  padding: .875rem 1.5rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(24,28,33,.06);
}

.image-wrapper{
  padding-bottom: .5rem!important;
  margin-bottom: .5rem!important;
  align-items: center!important;
  justify-content: center!important;
  display: flex!important;
  width: 60px!important;
  height: auto;
  width: 100%!important;
  position: relative!important;
}

.text-dark {
  color: rgba(24,28,33,.9)!important;
}

.font-weight-light {
  font-weight: 300!important;
}

.text-center {
  text-align: center!important;
}

.h3, h3 {
  font-size: 1.563rem;
}

.h5, h5 {
  font-size: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.54em + .876rem + 2px);
  padding: .438rem .875rem;
  font-size: .894rem;
  font-weight: 400;
  line-height: 1.54;
  color: #4e5155;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(24,28,33,.1);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.button-wrapper{
  margin-top: .5rem!important;
  align-items: center!important;
  justify-content: space-between!important;
  display: flex!important;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btn-success, .btn-success:hover {
  border-color: transparent;
  color: #fff;
}

.btn-success {
  background: #02bc77;
}

.btn {
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .438rem 1.125rem;
  font-size: .894rem;
  line-height: 1.54;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}

.link-wrapper{
  padding-bottom: .5rem!important;
  padding-top: .5rem!important;
  margin-bottom: .5rem!important;
  margin-top: .5rem!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
  display: flex!important;
}

.list-channel {
  width: 100%;
  height: 82vh;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 0;
  -webkit-flex: 1 1;
  flex: 1 1;
  position: relative;
  padding-left: 0;
}

.channel-item {
  position: relative;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 0 0 10px;
  line-height: 24px;
}

.channel-avatar {
  width: 15%;
  height: 100%;
  padding: 8px 0;
}

.channel-content {
  padding: 13px 6px 13px 10px;
  -webkit-flex: 1 1;
  flex: 1 1;
  overflow: hidden;
}

.avatar-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.ant-avatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum","tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;  
}

.ant-avatar-image {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.avatar-channel {
  object-fit: cover;
  border-radius: 50%;
}

.channel-item:after {
  width: 262px;
  height: .5px;
  background: #e8e8e8;
  position: absolute;
  bottom: -.5px;
  right: 6px;
  content: "";
  z-index: 1;
}

.channel-title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 20px;
  margin-bottom: 4px;
}

.channel-name {
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.channel-time {
  font-size: 13px;
  margin-left: 4px;
  color: #5c5c5c;
  line-height: 18px;
}

.channel-message {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.channel-message-left {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.channel-message-text {
  color: #666;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
  height: 20px;
  -webkit-flex: 1 1;
  flex: 1 1;
  pointer-events: none;
}

.channel-message-more {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.channel-notify {
  position: relative;
  display: -webkit-flex;
  display: flex;
}

.ant-avatar-group {
  display: inline-flex;
}

.avatar-multiple-wrapper {
  display: -webkit-flex;
  display: flex;
}

.avatar-multiple-wraper .avatar-channel {
  border: 1px solid #fff;
}

.channel-item {
  color: hsla(160, 100%, 37%, 1);
}